<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>jQuery e-calendar</title>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.e-calendar.js"></script>
    <script type="text/javascript" src="../js/calendarevents.js"></script>
    <link rel="stylesheet" href="../css/jquery.e-calendar.css"/>
</head>
<body>

</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div class="jquery-script-clear"></div>
</div>
</div>
    <h1 style="margin-top:150px;">View your upcoming Events</h1>
    <div id="calendar"></div>
</body>
<script type="text/javascript">

</script>

</html>
