<div class="container">

        <div class="row">
                 <div class="col-lg-6">

                <h1>SOEN-341</h1>
                <hr>    
            </div>

        </div>  

        <div class="row">

            <div class="col-md-8">

                <div class = "row">
                    <h2>SOFTWARE PROCESS </h2>
                    <p class="lead">
                        by  <h2>Weiyi Shang </h2>
                    </p>
                </div>


                <div class="row">
                        <hr>

                        <h2>Course Outline </h2>
                
                        <p> Prerequisite: COMP 352 or COEN 352; ENCS 282 previously or concurrently.<br><br>
                            Basic principles of software engineering. Introduction to software process models. Activities in each phase, including review activities. Working in teams: organization; stages of formation; roles; conflict resolution. Notations used in software documentation. How to review, revise, and improve software documentation. <br><br>
                            Lectures: three hours per week. Tutorial: one hour per week.
                        </p>
                </div>

            <div class="row"> 

                <div class="well">
                    <h2>Week 1</h2>
                   
                            <ul class="list-unstyled">
                                <li>8 January - 14 January
                                </li>
                                <li>Chapter 1
                                </li>
                                <li>Chapter 2
                                </li>
                                <li><a href="#">Slide 1</a>
                                </li>
                                <li><a href="#">Slide 2</a>
                                </li>
                            </ul>
                </div>

                <div class="well">
                    <h2>Week 2</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>15 January - 21 January
                                </li>
                                <li>Chapter 3
                                </li>
                                <li>Chapter 4
                                </li>
                                <li><a href="#">Slide 3</a>
                                </li>
                                <li><a href="#">Slide 4</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="well">
                    <h2>Week 3</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>22 January - 28 January
                                </li>
                                <li>Chapter 5
                                </li>
                                <li>Chapter 6
                                </li>
                                <li><a href="#">Slide 5</a>
                                </li>
                                <li><a href="#">Slide 6</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                

                <div class="well">
                    <h2>Week 4</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>29 January - 5 february
                                </li>
                                <li>Chapter 7
                                </li>
                                <li>Chapter 8
                                </li>
                                <li><a href="#">Slide 7</a>
                                </li>
                                <li><a href="#">Slide 8</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="well">
                    <h2>Week 5</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>5 february - 12 february
                                </li>
                                <li>Chapter 9
                                </li>
                                <li>Chapter 10
                                </li>
                                <li><a href="#">Slide 9</a>
                                </li>
                                <li><a href="#">Slide 10</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>

            </div>


        <div class="col-md-4">
                    <div class="well">
                        <h4>Class Details</h4>

                                <ul class="list-unstyled">
                                    <li>Lecture:Wed and Fri-8:45-10:00 in Room No.: H-920
                                    </li>
                                    <li>Tutorial A (Sections A and B): Fri 12:15-14:05 in Room No.: H-819
                                    </li>
                                    <li>Tutorial B (Sections C and D): Fri 12:15-14:05 in Room No.: H-843
                                    </li>
                                </ul>

                    </div>

                <div class="well">
                    <h4>Instructor Contact</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>Weiyi Shang EV3.129</li>
                                <li>office hour: Friday 10:15 to 11:45</li>
                                <li>or by appointment </li>
                                <li>shang@encs.concordia.ca </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <!-- resource Search Well -->
                <div class="well">
                    <h4>Search for full articles,e-books,more</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                   
                </div>
   
                <div class="well">
                    <h4>Latest Course Announcements</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Announcement 1</a>
                                </li>
                                <li>Mar 20
                                </li>
                                <hr>
                                <li><a href="#">Announcement 2</a>
                                </li>
                                <li>Mar 17
                                </li>
                                <hr>
                                <li><a href="#">More..</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="well">
                    <h4>Library Resources</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Library tips</a>
                                </li>
                                <li><a href="#">ACM Digital Library</a>
                                </li>
                                <li><a href="#">My Library Account</a>
                                </li>
                                <li><a href="#">Engg and Computer Science Research guide</a>
                                </li>
                                <li><a href="#">Library Home Page</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="well">
                    <h4>Course Reserves</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">View Course Readings</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="well">
                    <h4>People</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Participants</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="well">
                    <h4>Administration</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">View Course Grades</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>

                
        </div>

        </div>  
         
    </div>
