
    <div class="container">
      <div class="col-md-8">
        <div class="col-sm-8">
          <h3></h3>
        </div>
        <div class="col-sm-11">

  
          

             
        </div>
      </div>

      <div class="col-md-8">
        <div class="col-sm-8">
          <h3></h3>
        </div>
        <div class="col-sm-11">
          <p></p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="col-sm-8">
          <h3></h3>
        </div>
        <div class="col-sm-11">
          <p></p>
        </div>
      </div>
      
        <div class="col-md-offset-8">
          <div class="jumbotron">
            <h2>Announcements</h2>
            <ul>
              <li>Announcement 1</li>
              <li>Announcement 2</li>
              <li>Announcement 3</li>
              <li>Announcement 4</li>
              <li>Announcement 5</li>
            </ul>
            <p class="pull-right"><a>More...</a></p>
          </div>
        </div>
        

     
        <div class="col-md-offset-8">
          <div class="jumbotron">
            <h2>Appointments</h2>
            <p class="pull-right"><a class="btn btn-primary">Make an appointment</a></p>
          </div>
        </div>
     

   
        <div class="col-md-offset-8">
          <div class="jumbotron">
            <h2>Check your grades</h2>
            <ul>
              <li>Course 1</li>
              <li>Course 2</li>
              <li>Course 3</li>
              <li>Course 4</li>
              <li>Course 5</li>
            </ul>
          </div>
        </div>
    

    


      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
            </ul>
          </div>
        </div>

      </footer>


    </div>