*{
   margin: 0px;
   padding: 0px;
}

#container{
    
    
    width: auto;
    
}

header{
    display: block;
    background-color: cornflowerblue;
    padding: 30px 0px;
}
header p{
    font-size: 400%;
}

#form{
    
    display: block;
    border: 5px solid black;
    width: 33%;
    padding: 0px 150px 25% 0px;
    
    margin: 5% 25%;
    
}
#form p{
   
    text-align: left;
    
    
    font-size: 150%;
}

