<link rel="stylesheet" href="../static/css/loginstyle.css">

  <div style="margin:170px 0 0;" align="center">
    <form action="#TODO">
      <div class="imgcontainer">
        <img src="../static/img/main_logo.png" alt="Avatar" class="avatar" style="width: 300px;">
      </div>
    
      <div align="left" class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">Login</button>
        
        <p><a style="text-decoration: underline; color: #000000;" href="register.template.html">Don't have an account? Click here</a></p>
      </div>
    </form>
  </div>
