<div style="margin: 170px 0 0;" align="center">
  <form data-ng-controller="loginCtrl as ctrl" data-ng-submit="ctrl.onSubmit()">
    <div class="imgcontainer">
      <img src="../static/img/main_logo.png" alt="Avatar" class="avatar" style="width: 300px;">
    </div>
  
    <div align="left" class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" data-ng-model="ctrl.credentials.username">
  
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" data-ng-model="ctrl.credentials.password">
          
      <button type="submit">Login</button>
      
      <p><a ui-sref="register" style="text-decoration: underline; color: #000000;" >Don't have an account? Click here</a></p>
    </div>
  </form>
</div>
